* {
  margin: 0;
  scroll-behavior: smooth;
}

.App {
  padding: 2vmax;
}

.App > h1 {
  margin-left: 0.8vmax;
  color: #3D5696;
}

.App > form {
  padding: 0.5vmax;
}

.App > a, button {
  background-color: #4E6191;
  color: white;
  padding: 0.4vmax 1vmax;
  cursor: pointer;
  text-decoration: none;
  margin: 1vmax;
  transition: all 0.5s;
  border: none;
}

.update {
  font-size: 1vmax;
  padding: 0.5vmax 1.2vmax;
}

.myInput {
  padding: 0.5vmax 1vmax;
  cursor: pointer;
  margin-left: 0.5vmax;
  text-decoration: none;
  border: 1px solid #4E6191;
}

.searchSug {
  padding: 0.3vmax 0.5vmax;
  margin-left: 0.5vmax;
  color: #737373df;
}

.search {
  background-color: #4E6191;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 0.9vmax;
  padding: 0.52vmax 1vmax;
}

.App > a:hover, button:hover, .search:hover {
  background-color: #fdefef;
  color: #4E6191;
  border: 0.2vamx solid #4E6191;
}

.tableContainer {
  width: 99%;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 0.5%;
}

.tableContainer > p {
  text-align: center;
  color: #7b7b7b9c;
}

.myTable div {
  font: 300 1vmax;
  color: rgba(0, 0, 0, 0.678);
  border: none !important;
}

.myTable button {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.myTable button:hover {
  color: #4E6191;
}

.MuiDataGrid-columnHeader {
  background-color: #4E6191;
  padding: 1vmax !important;
}

.MuiDataGrid-columnHeader div {
  color: rgb(255, 255, 255);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header {
  background-color: #4E6191;
  color: white;
  padding: 10px;
  text-align: left;
}

.custom-table td {
  border: 1px solid #a0a0a0;
  padding: 10px;
}

.custom-table > p {
  color: #a0a0a0c1;
  text-align: center;
}

.createForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 3vmax;
  justify-content: space-evenly;
  height: 70%;
  width: 40vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
}

.createForm > div {
  width: 100%;
  align-items: center;
}

.createForm > div input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax Lucida Sans;
  outline: none;
  margin-bottom: 1vmax;
}


