* {
    margin: 0;
    scroll-behavior: smooth;
}

.App {
    padding: 2vmax;
}

.App > form {
    padding: 0.5vmax;
}

.App > a {
    text-decoration: none;
    border: 1px solid;
    color: black;
    background-color: #efefef;
    margin: 0.5vmax;
    padding: 0.1vmax;
    font-size: 0.9vmax;
}